# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dirs
lib-cov
tmp

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# OS metadata
.DS_Store
Thumbs.db

# Project
tmp/*
logs/*
history/*
bash/config.sh
bash/history
syncDbWeb/public/apidoc/*

# Configs
.env

# Editors
.idea
.vscode
*.iml

# Generated apidoc
syncDbWeb/public/api/*